<meta name="viewport" content="width=device-width,initial-scale=1.0">
<section class="md-1">
    <div class="container1 md-5" >
        <div class="">
            <video [src]="video"[autoplay]="'autoplay'" loop [muted]="'muted'"></video>
        </div>

        <div class="container">
            <h1 data-aos="fade-right">Welcome to library</h1>
            <p data-aos="fade-left">"Engineering is not only study of 45 subjects but it is moral studies of intellectual
                life",Have a great learning!</p>
            <button (click)="onclick()" class="btn">View more</button>
        </div>
    </div>
</section>