.con{
    padding-left: 30% ;
    font-size: 200%;
}

nav a{
    color:rgb(14, 11, 11);
    font-family: bold;
    padding-left: 5%;
}
nav a ul{
    color:rgb(244, 241, 241);
    font-size: 50px;
}
nav ul li a{
    font-size: 20px;
    justify-content: space-between;
}

ul li{
    font-size: 1.5rem;
    color: black;
}

