<app-nav1></app-nav1>
<section class="banner">
    <div class="card-header"> 
      <h1>Subjects</h1>
    </div>
    
  </section>
  <div class="card bg-transpranent">
    <div class="card-body">
        <div class="container" data-aos="zoom-in">
            <h5>Mathematics-I </h5>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Click Here
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
        </ul>
      </div>
            <h5>Communicative English</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Click Here
                </button>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                    <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                    <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                </ul>
              </div>
              <h5>Engineering Chemistry </h5>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Click Here
                  </button>
                  <ul class="dropdown-menu">
                    <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                      <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                      <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                  </ul>
                </div>
                <h5>Problem solving and Programming in C</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Click Here
                    </button>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                        <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                        <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                    </ul>
                  </div>
                  <h5>Engineering Graphics</h5>
                  <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Click Here
                      </button>
                      <ul class="dropdown-menu">
                        <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                      </ul>
                    </div>