<app-nav1></app-nav1>
<section class="mt-4 mx-4 " style="background-color:#DCFBF0;">
    <div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="card shadow-lg "  data-aos="zoom-in">
                <img src="../../assets/9.png" style="margin-top: 5%;" alt="" height="300px" align="center">
                <div class="card-title">
                    <h3 style="text-align: center;">Tech Club</h3>
                    <div class="card-body">
                        <button class="btn btn-outline-info"style="margin-left: 40%; margin-top: 1%;" routerLink="/tech">click</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg " data-aos="zoom-in">
                <img src="../../assets/7.jpg" style="margin-top: 5%;" alt="" height="300px" align="center">
                <div class="card-title">
                    <h3 style="text-align: center;">Personality Development</h3>
                    <div class="card-body">
                        <button class="btn btn-outline-info"style="margin-left: 40%; margin-top: 1%;" routerLink="/per">click</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg"data-aos="zoom-in">
                <img src="../../assets/8.jpg"style="margin-top: 5%;" alt="" height="300px" align="center">
                <div class="card-title">
                    <h3 style="text-align: center;">Innovation Club</h3>
                    <div class="card-body">
                        <button class="btn btn-outline-info" style="margin-left: 40%; margin-top: 1%;"routerLink="/inno">click</button>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg"data-aos="zoom-in">
                <img src="../../assets/6.jpg" style="margin-top: 5%;" alt="" height="300px" align="center">
                <div class="card-title">
                    <h3 style="text-align: center;">Alumini Club</h3>
                    <div class="card-body">
                        <button class="btn btn-outline-info" style="margin-left: 40%; margin-top: 1%;"routerLink="/alu">click</button>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>