<app-nav1></app-nav1>
<section class="banner">
    <div class="card-header"> 
      <h1>Subjects</h1>
    </div>
    
  </section>
  <div class="card bg-transpranent">
    <div class="card-body">
        <div class="container" >
            <h5>DISTRIBUTED SYSTEMS</h5>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Click Here
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
        </ul>
      </div>
            <h5>CLOUD COMPUTING</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Click Here
                </button>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                    <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                    <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                </ul>
              </div>
              <h5>
                MOBILE COMPUTING
                </h5>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Click Here
                  </button>
                  <ul class="dropdown-menu">
                    <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                      <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                      <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                  </ul>
                </div>
                <h5>
                    ADHOC AND SENSOR NETWORKS

                    </h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Click Here
                    </button>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                        <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                        <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                    </ul>
                  </div>
                  <h5>SOFTWARE PROJECT MANAGEMENT</h5>
                  <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Click Here
                      </button>
                      <ul class="dropdown-menu">
                        <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                      </ul>
                    </div>
                    <h5>SOFTWARE QUALITY MANAGEMENT</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Click Here
                        </button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                        </ul>
                      </div>
                      <h5>
                        CYBER SECURITY &  FORENSICS
                        </h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Click Here
                        </button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                        </ul>
                      </div>
                      <h5>
                        DEEP LEARNING TECHNIQUES
                        </h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Click Here
                        </button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                            <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                        </ul>
                      </div>
                      <h5>
                        SOFT COMPUTING
                        </h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Click Here
                        </button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                            <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                        </ul>
                      </div>
                      <h5>
                        BLOCK CHAIN TECHNOLOGIES AND ITS APPLICATIONS
                        </h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Click Here
                        </button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Syllabus</a>
                            <a class="dropdown-item"routerLink="https://abhiram4584.wixsite.com/my-site-2">Text Book</a>
                            <a class="dropdown-item" routerLink="https://abhiram4584.wixsite.com/my-site-2">Previous Question Paper</a>
                        </ul>
                      </div>
    </div>
  </div>
